In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dolinsk,RU,2021-08-01 00:16:07,47.3500,142.8000,67.86,85,100,7.67
1,1,Kazachinskoye,RU,2021-08-01 00:16:08,57.6953,93.2761,59.67,75,31,2.51
2,2,Sitka,US,2021-08-01 00:16:08,57.0531,-135.3300,64.29,77,40,9.22
3,3,Coihaique,CL,2021-08-01 00:16:09,-45.5752,-72.0662,31.95,86,0,3.44
4,4,Tombouctou,ML,2021-08-01 00:16:09,20.0000,-3.0000,96.91,25,32,10.09

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Rosetown,CA,2021-08-01 00:16:09,51.5501,-108.0014,88.99,19,0,6.91
7,7,Auki,SB,2021-08-01 00:16:10,-8.7676,160.7034,80.44,78,100,4.94
10,10,Magway,MM,2021-08-01 00:16:11,20.1500,94.9167,79.11,83,98,9.86
11,11,Norman Wells,CA,2021-08-01 00:14:25,65.2820,-126.8329,84.94,28,37,5.17
20,20,Yellowknife,CA,2021-08-01 00:12:50,62.4560,-114.3525,83.28,45,20,1.01
27,27,Kieta,PG,2021-08-01 00:16:16,-6.2167,155.6333,84.36,70,26,6.85
29,29,Tual,ID,2021-08-01 00:16:16,-5.6667,132.7500,81.27,78,63,10.09
32,32,Kamaishi,JP,2021-08-01 00:16:18,39.2667,141.8833,76.15,82,88,4.61
33,33,Alta Floresta,BR,2021-08-01 00:16:18,-9.8756,-56.0861,75.36,34,17,4.97
37,37,Lorengau,PG,2021-08-01 00:16:20,-2.0226,147.2712,84.69,68,45,6.93

In [12]:
preferred_cities_df.count()

City_ID       207
City          207
Country       207
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6        Rosetown      CA     88.99  51.5501 -108.0014
7            Auki      SB     80.44  -8.7676  160.7034
10         Magway      MM     79.11  20.1500   94.9167
11   Norman Wells      CA     84.94  65.2820 -126.8329
20    Yellowknife      CA     83.28  62.4560 -114.3525
27          Kieta      PG     84.36  -6.2167  155.6333
29           Tual      ID     81.27  -5.6667  132.7500
32       Kamaishi      JP     76.15  39.2667  141.8833
33  Alta Floresta      BR     75.36  -9.8756  -56.0861
37       Lorengau      PG     84.69  -2.0226  147.2712

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Rosetown,CA,88.99,51.5501,-108.0014,Travelodge by Wyndham Rosetown
7,Auki,SB,80.44,-8.7676,160.7034,Auki Motel
10,Magway,MM,79.11,20.1500,94.9167,Htein Htein Thar 2
11,Norman Wells,CA,84.94,65.2820,-126.8329,Heritage Hotel
20,Yellowknife,CA,83.28,62.4560,-114.3525,The Explorer Hotel
27,Kieta,PG,84.36,-6.2167,155.6333,Uruna Bay Retreat
29,Tual,ID,81.27,-5.6667,132.7500,Grand Vilia Hotel
32,Kamaishi,JP,76.15,39.2667,141.8833,Hotel Route Inn Kamaishi
33,Alta Floresta,BR,75.36,-9.8756,-56.0861,Floresta Amazonica Hotel
37,Lorengau,PG,84.69,-2.0226,147.2712,Lorengau Harbourside Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig